
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://i.pinimg.com/originals/d2/63/55/d26355a4484cf412669476a57a263abc.png') no-repeat;
    background-size: cover;
    background-position: center;
}

header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    

}

.title1{
    font-size: 2em ;
    color: aliceblue;
    user-select: none;
}


.about a{
    position: relative;
    font-size: 1.1rem;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.about a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.about a:hover::after{
    transform: scaleX(1);
}


.game_section{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}


p {
  /* margin: auto; */
  position: relative;
  top: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  
  
}
/* icons */

/* ---- Game Icon Grid ---- */
.game-grid {
  display: flex;
  gap :40px;
  flex-wrap: wrap; 
   justify-content :center;

}

/* ---- Game Icon ---- */
.game-icon {
  width: 150px;
  height: 150px;
  background:#1f1f1f;;
  border-radius: 10px;
  margin-top:-180px;
/* margin: 40px; */
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align:center;
  justify-content:center;
}

.game-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #03a9f4;

}



 /*game screen */
/* 
#exit-btn {
  display: flex;
  margin-top: 20px;
  background-color: #e91e63;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

#exit-btn:hover {
  background-color: #d81b60; 
}*/



