/* body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #0c67ae;

}
#tile{
    height: 150px;
    width: 400px;
}
#board{
    height: 360px;
    width: 360px;
    background-color: lightblue;
    border: 10px solid #0c67ae ;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#board img{
    width: 118px;
    height: 118px;
    border: 1px solid #0c67ae ;
}
#solution{
    height: 360px;
    width: 360px;
    margin-top: 15px;
    border: 5px solid #0c67ae;

} */

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #0c67ae;
  background: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 20px;
}

#board {
  height: 360px;
  width: 360px;
  background-color: rgb(3, 3, 119);
  border: 10px solid #0c67ae;
  display : flex;
  flex-wrap : wrap;
}

#board img {
  width: 118px;
  height: 118px;
  border: 1px solid #0c67ae;
  cursor: grab;
}

#solution-box {
  text-align: center;
}

#solution {
  width: 360px;
  height: 360px;
  border: 5px solid #0c67ae;
}

.buttons {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #0c67ae;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #094b78;
}