body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: lightgray;
    border-bottom: 1px solid black;
}
.buttons {
  margin-top: 20px;
}
button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #84898e;
  color:black;
  border: 5 black;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 200px;
  font-family:'Courier New', Courier, monospace;
}
button:hover{
  background-color: #a9b0b6;
}

